:root{
    --Principal-Red: #F23D3D;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}

header{
    width: 100%;
    /* background-color: gray; */
    height: 50rem;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgb(192,72,72,0.8)), 
    url("https://images.unsplash.com/photo-1605807646983-377bc5a76493?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NzI3MTc0NA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");  /* Chrome 10-25, Safari 5.1-6 */

    /* background-image: url(); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav{

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem 0 5rem;
    height: 8rem;
    /* background-color: antiquewhite; */
    font-size: 2.5rem;
}
/* Podria acomodarlos con grid para darle mas tamaño al input */
nav>ul{
    width: 100%;
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
    display: grid;
    grid-template-columns: 10% 10% 10% 50% 10% 10%;
    /* justify-items: center; */
    align-items: center;
}
/* Input search */
li>input{
    /* max-width: 20rem; */
    width: 100%;
    height: 4rem;
}
@media (max-width: 1100px) {
    nav>ul{
        grid-template-columns: 10% 15% 15% 40% 10% 10%;
    }
}
.logo{
    width: 6rem;
    height: 6rem;
}

nav>ul>li{
    display: flex;
    justify-content: center;
}

a{
    color: white;
}

.menu-icon{
    color: #3DB1F2;
}



.iconify{
    /* color: red; */
    color: white;
    
}
@media (min-width: 750px) {
    .menu-icon{
        display: none;
    }
}
@media (max-width: 750px) {
    .ic-desktop{
        display: none;
    }
    nav>ul{
        grid-template-columns: 20% 70% 10% ;
    }
}
@media (max-width: 580px) {
    nav>ul{
        grid-template-columns: 50% 50% ;
    }
    .icon-container{
        display: none;
    }
    .menu-icon{
        /* display: flex; */
    }
}
nav>ul>li:nth-child(6){
    justify-content: flex-start;
}

.icon-container{
    width: 100%;
    /* height: 100%; */
    /* background-color: aquamarine; */
    position: relative;
}

li>div>input{
    /* width: 100%; */
    border: 0;
    
}
li>.iconify{
    color: black;
    position: absolute;
    /* width: 20px; */
    /* height: 20px; */
    /* left: 0px; */
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
header>section{
    /* background-color: aquamarine; */
    height: 42rem;
    display: grid;
    grid-template-columns: 70% 30%;
     padding: 0 5rem 0 5rem;
}
h1{
    font-size: 6rem;
    color: white;
}
section>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
}
section>div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10rem;
}
section>div:nth-child(2)>button{
    width: 20rem;
    height: 4rem;
    background-color: var(--Principal-Red);
    border: 0;
    color: white;
    border-radius: 7px;
}
.main-cakes{
    width: 100%;
    padding: 5rem 5rem 0 5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
}
@media (min-width: 850px) {
    .main-cakes{
        grid-template-columns: repeat(3, 1fr);
    }
}
.card-cake{
    max-width: 27rem;
    width: 80%;
    height: 40rem;
    /* background-color: aqua; */
    /* border: 1px solid black; */
    border-radius: 15px;
    display: grid;
    grid-template-rows: 33% 77%;
    margin: 1rem;


    box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
}
.container-card-image{
    background-image: url("https://images.unsplash.com/photo-1605807646983-377bc5a76493?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NzI3MTc0NA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.container-card-info{
    padding: 1rem;
}
/* .card-precio>p{
    display: inline-block;
} */
.card-precio{
    display: flex;
    justify-content: space-between;
}
.card-sabores{
    display: flex;
    justify-content: space-between;
}
.card-adornos{
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: repeat(2, 1fr);
}
.card-adornos>p{
    grid-column: 1/3;
}
.card-adornos>div{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
.card-adornos>div>p{
    margin-left: 1rem;
}
.card-cake>div>button{
    background-color: var(--Principal-Red);
    border: 0;
    width: 100%;
    height: 2.3rem;
    margin-top: 2rem;
    color: white;
    border-radius: 5px;
    font-size: 1.3rem;
    
}

footer{
    margin-top: 5rem;
    background-color: black;
    color: white;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/********************PAGO*************************/
.main-pago{

    width: 100%;
    padding: 5rem 5rem 0 5rem;
    /* display: grid; */
    /* grid-template-columns: repeat(1, 1fr); */
    /* align-items: center; */
    /* justify-items: center; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.pago-container{
    /* background-color: aquamarine; */
    box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);

    width: 90%;
    height: 60rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
}

.card-pago{
    background-color: white;
    width: 60rem;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 1050px) {
    .card-pago{
        height: 70%;
        grid-template-columns: repeat(2, 1fr);
    }
    .pago-container{
        height: 50rem;
    }
}
.card-pago-data{
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-rows: 33% 67%;

}
.pago-data>div>input{
    font-size: 1.3rem;
}
.pago-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pago-data>div{
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 3rem;
}

.card-pago-data{
    padding: 2rem
}
.card-pago-desc{
    /* background-color: aqua; */
    display: grid;
    grid-template-rows: 33% 67%;
    padding: 2rem
}
.card-pago-desc>div{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-pago-img{
    background-image: url("https://images.unsplash.com/photo-1605807646983-377bc5a76493?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NzI3MTc0NA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.pago-description{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pago-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pago-frutas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.pago-adornos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /* justify-items: ; */
}
.pago-adornos>div, .pago-frutas>div{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: end;
}

/* .pago-adornos>div>div,.pago-frutas>div>div{
    display: flex;
    justify-content: flex-end;
} */

.button-pagar{
    width: 100%;
    background-color:#3DB1F2;
    color: white;
    font-size: 1.3rem;
    padding: .6rem;
    border: 0;
    border-radius: 7px;
}

.main-about{

    width: 100%;
    padding: 5rem 5rem 0 5rem;
    /* display: grid; */
    /* grid-template-columns: repeat(1, 1fr); */
    align-items: center;
    justify-items: center;


    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}
@media (min-width: 900px) {
    .main-about{
        grid-template-columns: repeat(2, 1fr);
    }
}
.container-about-card{
    /* background-color: #3DB1F2; */
    max-width: 100%;
    width: 100%;
    height: 20rem;
    padding: 2rem;
    box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    border-radius: 15px;
}
.container-about-card>div{
    display: flex;
    align-items: center;
}
.container-about-card>div>.iconify{
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}
.i-people{
    color: #3DB1F2;
}
.i-house{
color: #CCAD09;
}
.i-phone{
    color: #41B808;
}
.i-clock{
    color: #6607DF;
}
.menu-mobile-container{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: none;
}

.visibleDisplay{
    display: inline-block;
}

.option-container{
    width: 100%;
    z-index: 1000;
    /* background-color: #3DB1F2; */
    height: calc(100vh - 8rem);
    display: grid;
    /* grid-template-columns: repeat(1, 1fr); */
}
.option-container>ul{
    display: flex;
    flex-direction: column;
}