html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}

header{
    width: 100%;
    /* background-color: gray; */
    height: 50rem;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgb(192,72,72,0.8)), 
    url("https://images.unsplash.com/photo-1605807646983-377bc5a76493?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NzI3MTc0NA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");  /* Chrome 10-25, Safari 5.1-6 */

    /* background-image: url(); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav{

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem 0 5rem;
    height: 8rem;
    /* background-color: antiquewhite; */
    font-size: 2.5rem;
}
/* Podria acomodarlos con grid para darle mas tamaño al input */
nav>ul{
    width: 100%;
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
    display: grid;
    grid-template-columns: 10% 10% 10% 50% 10% 10%;
    /* justify-items: center; */
    align-items: center;
}
li>input{
    /* max-width: 20rem; */
    width: 100%;
    height: 4rem;
}
.logo{
    width: 6rem;
    height: 6rem;
}

nav>ul>li{
    display: flex;
    justify-content: center;
}

a{
    color: white;
}


.iconify{
    /* color: red; */
    color: white;
    
}
nav>ul>li:nth-child(6){
    justify-content: flex-start;
}

.icon-container{
    width: 100%;
    /* height: 100%; */
    /* background-color: aquamarine; */
    position: relative;
}

li>div>input{
    /* width: 100%; */
    border: 0;
    
}
li>.iconify{
    color: black;
    position: absolute;
    /* width: 20px; */
    /* height: 20px; */
    /* left: 0px; */
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
header>section{
    /* background-color: aquamarine; */
    height: 42rem;
    display: grid;
    grid-template-columns: 70% 30%;
     padding: 0 5rem 0 5rem;
}
h1{
    font-size: 6rem;
    color: white;
}
section>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
}
section>div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10rem;
}
section>div:nth-child(2)>button{
    width: 20rem;
    height: 4rem;
    background-color: red;
    border: 0;
    color: white;
}
main{
    width: 100%;
    padding: 5rem 5rem 0 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;

}
.card-cake{
    max-width: 27rem;
    width: 80%;
    height: 40rem;
    /* background-color: aqua; */
    /* border: 1px solid black; */
    border-radius: 15px;
    display: grid;
    grid-template-rows: 33% 77%;
    margin: 1rem;


    box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
}
.container-card-image{
    background-image: url("https://images.unsplash.com/photo-1605807646983-377bc5a76493?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NzI3MTc0NA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.container-card-info{
    padding: 1rem;
}
/* .card-precio>p{
    display: inline-block;
} */
.card-precio{
    display: flex;
    justify-content: space-between;
}
.card-sabores{
    display: flex;
    justify-content: space-between;
}
.card-adornos{
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: repeat(2, 1fr);
}
.card-adornos>p{
    grid-column: 1/3;
}
.card-adornos>div{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
.card-adornos>div>p{
    margin-left: 1rem;
}
.card-cake>div>button{
    background-color: red;
    border: 0;
    width: 100%;
    height: 2.3rem;
    margin-top: 2rem;
    color: white;
    border-radius: 5px;
    font-size: 1.3rem;
}

footer{
    margin-top: 5rem;
    background-color: black;
    color: white;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}